<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <title>Photo Blog</title>
    <style>
      img{
        width: 30%;
        height: 300px;
        float: left;
        margin: 1.66%;
      }
      p{
        font-family: 'Titillium Web', sans-serif;
        margin-left: 1.66%;
        font-size: 23px;
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 3px solid #f1f1f1;
        width: 30%;
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
  <p>Photo Gallery</p>
  <img src="https://www.thewallpapers.org/photo/12141/Forrest-004.jpg">
  <img src="https://c402277.ssl.cf1.rackcdn.com/photos/946/images/story_full_width/forests-why-matter_63516847.jpg?134553402">
  <img src="https://www.nature.org/cs/groups/webcontent/@web/documents/media/2016-photocontest-yosemite-w-1.jpg">
  <img src="http://www.redorbit.com/media/uploads/2013/02/elephantsun.jpg">
  <img src="https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111-1500x1000.jpg">
  <img src="https://www.thewallpapers.org/photo/12141/Forrest-004.jpg">
  <img src="http://i.dailymail.co.uk/i/pix/2012/08/14/article-0-148A2387000005DC-312_1024x615_large.jpg">
  <img src="http://miriadna.com/desctopwalls/images/max/Nature-of-Brazil.jpg">
  <img src="http://miriadna.com/desctopwalls/images/max/Nature-of-Brazil.jpg">
  </body>
</html>
