<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <title>Blog</title>
    <style>
      body{
        border: 20px solid #bdc3c7;
        padding: 20px;
        max-width: 700px;
        width: 80%;
        margin:20px auto;
        font-family: 'Roboto Condensed', sans-serif;
      }
      .first{
        border-left: 5px solid #bdc3c7;
        padding-left: 5px;
      }
      .date{
        text-transform: uppercase;
        color:#3498db;
        letter-spacing: 0.2rem;
      }
      h2{
        font-size: 2.0rem;
        color: #2c3e50;
      }
      .post{
        margin-bottom: 30px;
      }
      hr {
          overflow: visible; /* For IE */
          height: 30px;
          border-style: solid;
          border-color: black;
          border-width: 1px 0 0 0;
          border-radius: 20px;
      }
      hr:before{ /* Not really supposed to work, but does */
          display: block;
          content: "";
          height: 30px;
          margin-top: -31px;
          border-style: solid;
          border-color: black;
          border-width: 0 0 1px 0;
          border-radius: 20px;
      }
    </style>
  </head>
  <body>
    <div class="post">
    <p class="date">November 23 2015</p>
    <h2>This is My First Article</h2>
    <p class="first">Short ribs landjaeger sausage bacon spare ribs salami shankle rump meatball. Ribeye venison boudin doner. Spare ribs rump leberkas drumstick salami pork loin. Kevin doner venison, ribeye cupim buffalo drumstick tongue alcatra frankfurter landjaeger pork belly corned beef. Landjaeger rump sausage kielbasa porchetta. Ground round bacon picanha flank venison meatball.</p>
    <p>Short ribs biltong short loin bresaola boudin fatback beef buffalo. Sausage landjaeger sirloin, ham hock frankfurter prosciutto cupim short loin shank ball tip spare ribs picanha filet mignon pork belly. Brisket tri-tip pastrami doner. Rump picanha porchetta sirloin, turducken kevin shank. Porchetta tri-tip swine, kevin tail sirloin frankfurter short ribs ball tip. Cupim picanha pork chop drumstick tongue, jerky ham shank shoulder. Frankfurter fatback andouille short ribs landjaeger pork venison tenderloin tri-tip jowl burgdoggen.</p>
    <p>Ball tip prosciutto cow pork. Picanha landjaeger short ribs, hamburger ball tip doner ground round. Ground round meatloaf pork loin, corned beef swine spare ribs pork chop burgdoggen short ribs. Chicken fatback picanha, landjaeger spare ribs swine bresaola porchetta brisket.</p>
    <hr>
  </div>
  <div class="post">
  <p class="date">December 11 2015</p>
  <h2>This is Another Article</h2>
  <p class="first">Short ribs landjaeger sausage bacon spare ribs salami shankle rump meatball. Ribeye venison boudin doner. Spare ribs rump leberkas drumstick salami pork loin. Kevin doner venison, ribeye cupim buffalo drumstick tongue alcatra frankfurter landjaeger pork belly corned beef. Landjaeger rump sausage kielbasa porchetta. Ground round bacon picanha flank venison meatball.</p>
  <p>Short ribs biltong short loin bresaola boudin fatback beef buffalo. Sausage landjaeger sirloin, ham hock frankfurter prosciutto cupim short loin shank ball tip spare ribs picanha filet mignon pork belly. Brisket tri-tip pastrami doner. Rump picanha porchetta sirloin, turducken kevin shank. Porchetta tri-tip swine, kevin tail sirloin frankfurter short ribs ball tip. Cupim picanha pork chop drumstick tongue, jerky ham shank shoulder. Frankfurter fatback andouille short ribs landjaeger pork venison tenderloin tri-tip jowl burgdoggen.</p>
  <p>Ball tip prosciutto cow pork. Picanha landjaeger short ribs, hamburger ball tip doner ground round. Ground round meatloaf pork loin, corned beef swine spare ribs pork chop burgdoggen short ribs. Chicken fatback picanha, landjaeger spare ribs swine bresaola porchetta brisket.</p>
  </div>
  </body>
</html>
