<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>Image Gallery</title>
  <style type="text/css">
    body{
      padding-top: 70px;
    }
    .jumbotron{
      color:#2c3e50;
    }
    .navbar-inverse{
      background: #2c3e50;
    }
    .navbar-inverse .navbar-brand{
      color: white;
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">  <i class="far fa-hand-peace"></i> E-MAZE</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">SignUp</a></li>
      <li><a href="#">LogIn</a></li>
    </ul>
  </div>
  </div>
  </nav>

  <div class="container">
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Image Gallery</h1>
    <p>A Bunch of images ...masterpiece</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>

    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>

    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail"><img src="https://cloudpixel.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-16-at-1.49.36-PM-1100x729.png"></div></div>

  </div>



</div>
</body>
</html>
