<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Done</title>
  </head>
  <body>
    <p>Registration Successfull...Please Login to continue<a href="/" style="padding-left:10px">Login</a></p>
  </body>
</html>
